@page "/loanshark"

<div class="container-xxl my-3">
    <h1 class="mb-2">LoanShark</h1>
    <p>
        If you've been thinking about borrowing money and are curious to see what payments would look like,
        a loan calcultor can be an ideal tool to help you figure this out.
    </p>
    <p>
        LoanShark's loan calculator is designed to help borrowers calculate amortized loans. These are mortgages,
        auto loans, student loan and other types of personal loans that are paid off in regular installments over time,
        with fixed paymets covering both the principal amount and interest. Our calculator shows you the total cost of a loan,
        expressed as the annual percentage rate, or APR. Enter the loan amount, term and interest rate in the fields below and
        click calculate to see your personalized results.
    </p>
    <div class="row">
        <div class="col-12 col-md-6 loanForm p-3 rounded-3">
            <EditForm EditContext="editContext" OnValidSubmit="HandleSubmit">
                <DataAnnotationsValidator />
                <div class="row gy-2">
                    <div class="col-12">
                        <label for="purchaseAmount" class="form-label">
                            Purchase Amount:
                        </label>
                        <InputNumber @bind-Value="loan.PurchaseAmount" class="form-control" step="100" />
                        <ValidationMessage For="() => loan.PurchaseAmount" />
                    </div>
                    <div class="col-12">
                        <label for="term" class="form-label">
                            Term (in years):
                        </label>
                        <InputNumber @bind-Value="loan.Term" class="form-control" min="1" />
                        <ValidationMessage For="() => loan.Term" />
                    </div>
                    <div class="col-12">
                        <label for="rate" class="form-label">
                            Rate:
                        </label>
                        <InputNumber @bind-Value="loan.Rate" class="form-control" min="0" step=".1" />
                        <ValidationMessage For="() => loan.Rate" />
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary mt-2">
                            Calculate
                        </button>
                    </div>
                </div>
            </EditForm>
        </div>
        <div class="col-12 col-md-6 d-flex flex-column justify-content-between px-4 mt-4 mt-md-0">
            <div class="paymentTitle">
                <p>
                    Your monthly payments
                </p>
            </div>
            <div class="display-1 payment">
                @loan.Payment.ToString("C")
            </div>
            <div class="row border border-1 g-0 p-3">
                <div class="col-6">
                    <label class="text-start">
                        Purchase Amount
                    </label>
                </div>
                <div class="col-6 text-end">
                    @loan.PurchaseAmount.ToString("C")
                </div>
                <div class="col-6">
                    <label class="text-start">
                        Total Interest
                    </label>
                </div>
                <div class="col-6 text-end">
                    @loan.TotalInterest.ToString("C")
                </div>
                <div class="col-6">
                    <label class="text-start">
                        Total Cost
                    </label>
                </div>
                <div class="col-6 text-end totalCost">
                    @loan.TotalCost.ToString("C")
                </div>
            </div>
            <div class="text-end mt-2">
                <button class="btn btn-primary" @onclick="ToggleSchedule">
                    @buttonText
                </button>
            </div>
        </div>

        @if (showSchedule)
        {
            <div class="col-12">
                <PaymentSchedule Payments="loan.AmortizationSchedule" />
            </div>
        }
    </div>
</div>

@code {
    private Loan loan = new();
    private EditContext? editContext; // Allows complex validation
    private bool showSchedule = false;
    private string buttonText = "Show Schedule";

    protected override void OnInitialized()
    {
        editContext = new EditContext(loan);
        loan.PurchaseAmount = 25000;
        loan.Term = 5; // In years
        loan.Rate = 5.0;
    }

    private void HandleSubmit()
    {
        loan = LoanHelper.GetPayments(loan);
    }

    private void ToggleSchedule()
    {
        if (showSchedule)
        {
            showSchedule = false;
            buttonText = "Show Schedule";
        }
        else
        {
            showSchedule = true;
            buttonText = "Hide Schedule";
        }
    }
}