@page "/loanshark"

<div class="container-xxl my-3">
    <h1 class="mb-2">LoanShark</h1>
    <p>
        If you've been thinking about borrowing money and are curious to see what payments would look like,
        a loan calcultor can be an ideal tool to help you figure this out.
    </p>
    <p>
        LoanShark's loan calculator is designed to help borrowers calculate amortized loans. These are mortgages,
        auto loans, student loan and other types of personal loans that are paid off in regular installments over time,
        with fixed paymets covering both the principal amount and interest. Our calculator shows you the total cost of a loan,
        expressed as the annual percentage rate, or APR. Enter the loan amount, term and interest rate in the fields below and
        click calculate to see your personalized results.
    </p>
</div>

@code {

}